<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">AFAQY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">{{ 'nav.home' | translate }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/maps" routerLinkActive="active">{{ 'nav.maps' | translate }}</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'nav.lang' | translate }}
          </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="useLanguage('en')">{{ 'lang.en' | translate }}</a>
                        <a class="dropdown-item" (click)="useLanguage('ar')">{{ 'lang.ar' | translate }}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>